// compileExpanded: $1.css
$primary: mediumpurple;
$secondary: darken(mediumpurple, 20%);

// *********************** svg styles*********************

.chart rect {
  fill: $primary;
  &:hover {
    fill: $secondary;
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text,
.chart text {
  font-family: sans-serif;
  font-size: 11px;
}

// ********************end svg styles*********************

html {
  margin: 20px 0;
}

.container {
  // width set dynamically via d3
  margin: 0 auto;
  border: 1px solid $primary;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif;
  color: $secondary;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.tooltip {
  position: absolute;
  max-width: 200px;
  height: auto;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  font-family: sans-serif;
  font-size: 12px;
}
