// compileExpanded: $1.css

// *********************** svg styles*********************

.chart rect {
  fill: cornflowerblue;
  &:hover {
    fill: darken(cornflowerblue, 20%);
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text,
.chart text {
  font-family: sans-serif;
  font-size: 11px;
}

// ********************end svg styles*********************

html {
  margin-top: 20px;
}

.container {
  // width set dynamically via d3
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif;
  color: darken(cornflowerblue, 20%);
}

.tooltip {
  position: absolute;
  max-width: 200px;
  height: auto;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  font-family: sans-serif;
  font-size: 12px;
}
